<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/checkboxwhite.css">
  <title></title>
</head>
<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12 top-bar">
      <a href="index.html">&times;</a>
    </div>
    <div class="row header-select-friend">
      <div class="col-xs-9 no-padding">
        <p class="page-title">Select friend(s) to split the bill</p>
      </div>
      <div class="col-xs-3 no-padding">
        <a class="button">add friend</a>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3 col-xs-12 segment-raised">
      <div class="input-group search-friend">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" placeholder="Search friend">
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3 col-xs-12 segment-raised barcode">
      <div class="row check-select-friend-wrapper">
        <div class="col-xs-2">
          <input type="checkbox" id="check" name="check" value="" />
          <label for="check"><span></span></label>
        </div>
        <div class="col-xs-10 no-padding">
          <div class="bill-item-check">
            <p>Acep Saepudin</p>
          </div>
        </div>
      </div>
      <div class="row check-select-friend-wrapper">
        <div class="col-xs-2">
          <input type="checkbox" id="check" name="check" value="" />
          <label for="check"><span></span></label>
        </div>
        <div class="col-xs-10 no-padding">
          <div class="bill-item-check">
            <p>Achmad Fadhil</p>
          </div>
        </div>
      </div>
      <div class="row check-select-friend-wrapper">
        <div class="col-xs-2">
          <input type="checkbox" id="check" name="check" value="" />
          <label for="check"><span></span></label>
        </div>
        <div class="col-xs-10 no-padding">
          <div class="bill-item-check">
            <p>Augviona Brillianty Syahda</p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/helper.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
